 // resource http://www.1001fonts.com/art-deco-fonts.html

@font-face {
  font-family: "grenadier";
  src: url("../assets/fonts/grenadier.regular.otf") format("truetype");
}

@font-face {
  font-family: "Cameo";
  src: url("../assets/fonts/cameoappearance/CameoAppearanceNF.otf") format("truetype");
}

@font-face {
  font-family: "soucisans";
  src: url("../assets/fonts/soucisans/SouciSansNF.otf") format("truetype");
}

@font-face {
  font-family: "decoborders";
  src: url("../assets/fonts/decoborders/DecoBordersNF.otf") format("truetype");
}
//Borders : Q W A S; E R D F; T Y G H; U I J K;  and more in the cap letters
